#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: 'Nunito';
  background: rgba(189, 162, 124, 1);
  background: linear-gradient(225deg, rgba(189, 162, 124, 1), rgba(26, 116, 173, 1));
}

.app {
  &,
  &::before,
  &::after {
    box-sizing: border-box;
  }
}
